<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>About Us</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
      
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index" >OSC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="about" >About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="../events" >Club Sessions</a></li>             
                  <li><a href="holidays" >Club Holidays</a></li>
                  <li><a href="social" >Social Activities</a></li>
                  <li><a href="racing" >Racing Team</a></li>
                </ul>
               </li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Information <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="faq" >FAQ</a></li>
                  <li><a href="contact" >Contact Us</a></li>
                </ul>
                <li><a href="../announcements" >Announcements</a></li>
               </li>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="index" class="btn">Sign In</a>
            </form>
            </div>
        </div>
      </div>
    </div>
    <center>
    <img src="../assets/ovalskiclub.jpg" width="940" height="180" title="Welcome to the Oval Ski Club website">
    <div class="container">
    </center>
</div>
<hr>
      <div class="container">
      <div class="hero-unit">
        <h2>Updates</h2>
        <h4>Club Holiday 2012-2013</h4>
        The location of this years Oval Ski Club holiday will be in either in St.Christoph or St.Anton in Austria. The holiday date will be Saturday 23rd March - 30th March 2013.<br>
        <br>
        An update will be posted in the near future stating where this seasons holiday will be located.<br>
        <br>
        Group sizes will vary and if you wish to attend, ensure you book your place as soon as possible before it is too late.<br>
        <br>
        Contact Andy Kearney on 07855662891 for further details or to book your place.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h2>Upcoming events this week</h2>
        <h3>Saturday 9/2/2013</h3>
        <h4>10:00am - 11:00am</h4>
        Junior Club for under 11's. New beginners lessons start!<br>
        Junior beginners under 11 years are welcome to enrol for new block of lessons
        <h4>11:30am - 1:00pm</h4>
        Junior Club for 11+. New beginners lessons start<br>
        Juniors beginners 11yrs+ welcome to enrol for new block of lessons
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Sunday 10/2/2013</h3>
        <h4>5:00pm - 6:00pm</h4>
        Adult Club - beginners lessons (week 1 of 3)
        <h4>6:00pm - 7:00pm</h4>
        Adult Club - open skiing session + improver lessons
        <h4>7:00pm - 8:00pm</h4>
        Adult Club - intermediate/advanced lessons
      </div>

<%= yield %>
      <hr>

      <footer>
      <center>&copy; Oval Ski Club 2012 &nbsp</center>
      <a href="http://www.facebook.com/group.php?gid=2256597544"><img src="../assets/facebooklogo.png" width="55" height="25" title="Like us on Facebook"><a href="https://twitter.com/OvalSki"><img src="../assets/twitter.png" width="55" height="25" title="Follow us on Twitter"></a></a>
      </footer>
    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>

<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<script text/javascript src="../assets/jquery-1.8.2.min.js"></script>
<script text/javascript src="../assets/bootstrap.min.js"></script>
<script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
<script text/javascript src="assets/js/bootstrap.min.js"></script>
<script>
$(function(){
$('.dropdown-toggle').dropdown();
$('.dropdown input, .dropdown label').click(function (e) {
e.stopPropagation();
});
});
</script>


<%=yield%>

</body>
</html>